[Unit]
Description=Telegram bot 'telegram_binance'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot/hummer_signals
ExecStart=/usr/bin/python3 /usr/local/bin/bot/hummer_signals/main2.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target